<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">	


	<!-- 配置dao-->
	
	<!-- 配置entity-->
	
	<!-- 配置service-->
	
	<!-- 配置action-->
	<!-- 用户管理 -->

	
	
		
</beans>